$grey-color: #a0a0a0;
$red-color: #e84a1e;

.u-no-resize {
  flex: 0 0 auto;
}

.featured-products {
  &__top-line {
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
  }
  .products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__title {
    line-height: 1;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;

    &:after {
      margin-top: 8px;
      content: "";
      display: block;
      width: 36px;
      border-bottom: 2px solid $red-color;
    }
  }

  .product {
    position: relative;
    margin-bottom: 45px;
    padding-bottom: 46px;
    min-width: 300px;
    max-width: 360px;
    height: 410px;
    border: 1px solid $grey-color;
    box-sizing: border-box;
    overflow: hidden;
    &:not(:nth-child(3n + 3)) {
      margin-right: 45px;
    }
    &:last-child {
      margin-right: auto;
    }

    &:hover {
      border-color: $red-color;
    }

    &__image-wrapper {
      margin: 20px 25px;
      height: 156px;
      overflow: hidden;
      img {
        position: relative;
        top: -50%;
      }
    }

    &__information {
      padding: 11px 25px;
    }

    &__information-row {
      display: flex;
      width: 100%;
    }

    &__description-text {
      padding: 0 0 14px;
      display: block;
      font-size: 15px;
      color: #000;
      width: 100%;
      height: 62px;
      overflow: hidden;
    }

    &__column {
      font-size: 15px;

      &.u-left-column {
        margin-right: 13px;
        min-width: 50%;
      }
    }

    &__date-start,
    &__date-end,
    .price,
    &__bounty-link {
      /**/
    }
    &__read-more {
      display: none;
    }
  }

  .social-buttons {
    position: absolute;
    bottom: 8px;
    right: 10px;

    &:before {
      margin-left: auto;
      margin-bottom: 10px;
      display: block;
      content: '';
      width: 230px;
      border-top: 1px solid $red-color;
    }
  }

  .woocommerce-LoopProduct-link {
    display: block;
  }

  .woocommerce-loop-product__title {
    padding: 0 25px 15px;
    font-size: 18px;
    font-weight: bold;
    color: #000;
    line-height: 1;
    text-transform: uppercase;
    border-bottom: 1px solid $grey-color;
  }

  .button {
    display: none;
  }
}

.recent-products {
  margin-bottom: 70px;
  &__top-line {
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
  }
  .products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__title {
    line-height: 1;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;

    &:after {
      margin-top: 8px;
      content: "";
      display: block;
      width: 36px;
      border-bottom: 2px solid $red-color;
    }
  }

  .product {
    position: relative;
    margin-bottom: 22px;
    min-width: 250px;
    width: 270px;
    max-width: 290px;
    border: 1px solid $grey-color;
    box-sizing: border-box;
    &:not(:nth-child(4n + 4)) {
      margin-right: 30px;
    }
    &:last-child {
      margin-right: auto;
    }

    &:hover {
      border-color: $red-color;
    }

    &__image-wrapper {
      margin: 20px 25px;
      height: 190px;
      overflow: hidden;
      img {
        position: relative;
        top: -14px;
      }
    }

    &__information {
      display: none;
    }

  }

  .social-buttons {
    display: none;
  }

  .woocommerce-LoopProduct-link {
    display: block;
  }

  .product__read-more,
  .woocommerce-loop-product__title {
    padding: 24px 25px 22px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    line-height: 1;
    text-transform: uppercase;
    background-color: $grey-color;
  }
  .product__read-more {
    display: block;
    padding: 22px 25px 20px;
    background-color: $red-color;
    outline: 1px solid $red-color;
    font-weight: normal;
    transition:
            background .2s ease-out,
            color .2s ease-out;
    &:hover {
      background-color: #fff;
      color: $red-color;
    }
  }

  .button {
    display: none;
  }
}

@media screen and (max-width: 479px) {
  .featured-products,
  .recent-products {
    .container {
      margin: auto 10px;
    }
  }
  .featured-products .product:not(:nth-child(3n + 3)),
  .recent-products .product:not(:nth-child(4n + 4)),
  .product.type-product {
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .featured-products,
  .recent-products {
    .container {
      margin: auto 30px;
    }
  }
  .featured-products .product:not(:nth-child(3n + 3)),
  .recent-products .product:not(:nth-child(4n + 4)),
  .product.type-product {
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 780px) and (max-width: 1199px) {
  .featured-products,
  .recent-products {
    .product {
      margin-left: auto;
      margin-right: auto;

      &:not(:nth-child(3n + 3)) {
        margin-right: auto;
      }
      &:not(:nth-child(4n + 4)) {
        margin-right:auto;
      }
    }
  }
}