@charset "UTF-8";
/*!
Theme Name:   	icochaser
Author:         Илья Лекарев
Author URI:     http://tefit.ru/
*/
/*! minireset.css v0.0.3 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal; }

ul {
  list-style: none; }

button,
input,
select,
textarea {
  margin: 0; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

img,
embed,
object,
audio,
video {
  height: auto;
  max-width: 100%; }

iframe {
  border: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0;
  text-align: left; }

a {
  text-decoration: none; }

/**
 * Typography
 */
body {
  -ms-word-wrap: break-word;
  word-wrap: break-word; }

body,
button,
input,
textarea {
  color: #43454b;
  font-family: "Open Sans", "Source Sans Pro", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  line-height: 1.618;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-weight: 400; }

.section {
  padding: 0 20px; }

.container {
  margin: 0 auto;
  max-width: 1170px; }

/**
 */
.btn,
.button {
  padding: 10px 28px 10px;
  display: block;
  font-size: 15px;
  color: #e84a1e;
  background: #fff;
  border: 2px solid #e84a1e;
  border-radius: 30px;
  cursor: pointer;
  line-height: 1;
  transition: background .2s ease-out, color 0.2s ease-out; }
  .btn:hover, .btn:focus,
  .button:hover,
  .button:focus {
    color: #fff;
    background: #e84a1e;
    outline: #e84a1e; }
  .btn.u-right,
  .button.u-right {
    margin-left: auto; }

.storefront-hero__button-edit {
  position: absolute;
  padding: 3px 5px;
  border-radius: 0;
  border-left: 0; }

.entry-title {
  padding-bottom: 35px;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: bold; }

.entry-content h1 {
  padding-bottom: 35px;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: bold; }

.entry-content h2 {
  padding-bottom: 26px;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: normal; }

.entry-content h3 {
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bold; }

.entry-content p {
  padding-bottom: 22px;
  font-size: 15px;
  font-weight: normal; }

.site-main .page {
  margin-top: 50px;
  padding-left: 15px;
  padding-right: 15px; }

.page-template-default {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  min-height: 100vh; }
  .page-template-default .content-area {
    -webkit-box-flex: 1;
            flex-grow: 1; }

body {
  min-width: 320px; }

.top-line {
  -webkit-box-flex: 0;
          flex: none;
  height: 60px;
  background: #e1e5e8; }
  .top-line__logo-wrapper {
    margin-top: 12px;
    margin-right: 18px;
    display: inline-block; }
  .top-line .container {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center; }

.main-navigation {
  margin-top: 12px;
  margin-right: auto;
  display: inline-block;
  vertical-align: top;
  line-height: 34px; }

.menu-item {
  display: inline-block;
  font-size: 16px; }
  .menu-item a {
    padding: 5px 20px;
    color: #000000; }
    .menu-item a:hover, .menu-item a:focus {
      color: black;
      text-decoration: underline; }

.hero {
  margin-bottom: 50px;
  border-bottom: 3px solid #e8e8e8; }
  .hero .entry-header {
    display: none; }
  .hero .page {
    padding-top: 32px;
    padding-bottom: 90px; }
  .hero__title {
    margin-bottom: 12px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 58px;
    line-height: 1.2; }
    .hero__title .is-red {
      color: #e84a1e; }
  .hero__subtitle {
    margin-bottom: 30px;
    line-height: 1.3;
    font-size: 22px;
    max-width: 510px; }
  .hero .row {
    display: -webkit-box;
    display: flex; }
    .hero .row .column:nth-child(2) {
      margin-left: auto;
      width: 296px;
      -webkit-box-flex: 0;
              flex: 0 0 auto; }
  .hero__add-ico {
    padding: 18px 10px 15px;
    font-size: 21px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center; }
  .hero .es_textbox_class {
    padding: 0 169px 0 38px;
    height: 56px;
    width: 100%;
    font-size: 22px;
    border: 2px solid #e84a1e;
    border-radius: 28px; }
  .hero .es_textbox_button {
    width: 210px;
    height: 56px;
    font-size: 22px;
    border-radius: 28px;
    border-color: #e84a1e;
    background-color: #e84a1e; }
  .hero .mc4wp-form-fields,
  .hero .es_shortcode_form {
    max-width: 570px; }
    .hero .mc4wp-form-fields:hover .es_textbox_button,
    .hero .es_shortcode_form:hover .es_textbox_button {
      background-color: transparent;
      color: #e84a1e;
      border: 2px solid #e84a1e; }

.mc4wp-form-fields,
.es_shortcode_form {
  position: relative; }
  .mc4wp-form-fields:hover .es_textbox_class,
  .es_shortcode_form:hover .es_textbox_class {
    border: 2px solid #e84a1e; }
  .mc4wp-form-fields:hover .es_textbox_button,
  .es_shortcode_form:hover .es_textbox_button {
    background-color: #e84a1e; }

.es_lablebox,
.es_msg {
  display: none; }

.es_textbox {
  padding: 0; }

.es_textbox_class {
  padding: 0 169px 0 30px;
  height: 38px;
  width: 370px;
  border: 2px solid black;
  border-radius: 19px;
  outline: 1px solid transparent;
  transition: border .2s ease-out; }

.es_button {
  padding: 0;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 19px;
  overflow: hidden; }

.es_textbox_button {
  height: 38px;
  line-height: 1;
  font-size: 15px;
  font-weight: bold;
  color: #fff;
  background-color: #000;
  text-transform: uppercase;
  border: 0;
  border-radius: 19px;
  outline: 1px solid transparent;
  cursor: pointer;
  transition: background .2s ease-out; }

@media screen and (max-width: 479px) {
  .top-line {
    height: auto; }
    .top-line .container {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
              flex-direction: column; }
    .top-line .main-navigation {
      margin: auto;
      width: 320px; }
      .top-line .main-navigation .menu {
        display: -webkit-box;
        display: flex;
        justify-content: space-around; }
    .top-line .menu-item a {
      padding: 0; }
    .top-line .social-buttons,
    .top-line .fa-socials {
      padding: 10px 0; }
  .hero .page {
    padding-bottom: 50px; }
  .hero .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column; }
    .hero .row .column:nth-child(2) {
      margin-right: auto; }
  .hero .column {
    margin: auto 10px; }
  .hero__title {
    font-size: 22px;
    text-align: center; }
  .hero__subtitle {
    font-size: 18px; }
  .hero__logo-wrapper {
    display: none; }
  .hero .mc4wp-form-fields,
  .hero .es_shortcode_form {
    margin-bottom: 50px;
    height: 40px; }
  .hero .es_textbox {
    height: inherit; }
    .hero .es_textbox_class {
      padding: 0 50px 0 10px;
      width: 100%;
      height: inherit;
      font-size: 16px; }
    .hero .es_textbox_button {
      width: 120px;
      height: inherit;
      font-size: 16px; }
  .hero .es_button {
    height: inherit; }
  .mc4wp-form-fields,
  .es_shortcode_form {
    margin: auto 20px;
    width: calc(100% - 40px); }
  .es_textbox_class {
    padding: 0 169px 0 30px;
    height: 38px;
    width: 100%;
    border: 2px solid black;
    border-radius: 19px;
    outline: 1px solid transparent;
    transition: border .2s ease-out; } }

@media screen and (min-width: 479px) and (max-width: 767px) {
  .top-line {
    height: auto; }
    .top-line .container {
      margin: auto 30px;
      flex-wrap: wrap; }
    .top-line .main-navigation {
      width: 300px; }
      .top-line .main-navigation .menu {
        display: -webkit-box;
        display: flex;
        justify-content: space-around; }
    .top-line .menu-item a {
      padding: 0; }
    .top-line .social-buttons,
    .top-line .fa-socials {
      padding: 10px 0; }
  .hero .page {
    padding-bottom: 50px; }
  .hero .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column; }
    .hero .row .column:nth-child(2) {
      margin-right: auto; }
  .hero .column {
    margin: auto 10px; }
  .hero__title {
    margin-left: auto;
    margin-right: auto;
    max-width: 480px;
    font-size: 38px;
    text-align: center; }
  .hero__subtitle {
    margin-left: auto;
    margin-right: auto; }
  .hero__logo-wrapper {
    display: none; }
  .hero .mc4wp-form-fields,
  .hero .es_shortcode_form {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    height: 56px; }
  .hero .es_textbox {
    height: inherit; }
    .hero .es_textbox_class {
      height: inherit; }
    .hero .es_textbox_button {
      height: inherit; }
  .hero .es_button {
    height: inherit; } }

@media screen and (min-width: 780px) and (max-width: 1199px) {
  .top-line .container,
  .hero .container,
  .featured-products .container,
  .recent-products .container,
  .footer .container {
    margin: auto 15px; }
  .hero .row .column:nth-child(2) {
    width: 240px; }
  .hero__title {
    font-size: 38px;
    max-width: 500px; }
  .hero__subtitle {
    font-size: 20px;
    max-width: 440px; } }

.bottom-line {
  padding-top: 50px;
  padding-bottom: 40px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between; }

.footer {
  -webkit-box-flex: 0;
          flex: none;
  background: #e2e5e7; }
  .footer .column {
    display: -webkit-box;
    display: flex;
    -webkit-box-flex: 0;
            flex: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-align: baseline;
            align-items: baseline; }
  .footer__logo {
    display: block;
    content: "";
    width: 170px;
    height: 96px;
    background: url("assets/images/footer__logo.png"); }
  .footer__page-link {
    margin-bottom: 8px;
    font-size: 18px;
    color: #000; }
    .footer__page-link:not(.u-nolink):hover {
      text-decoration: underline; }
  .footer__mail-link {
    color: #e84a1e;
    text-decoration: underline; }
    .footer__mail-link:hover, .footer__mail-link:focus {
      text-decoration: none; }
  .footer__subscribe-wrapper {
    margin-bottom: 25px; }
    .footer__subscribe-wrapper:hover .field__line .input {
      border: 1px solid #e84a1e; }
    .footer__subscribe-wrapper:hover .field__line .button {
      background-color: #e84a1e; }
  .footer .field__line {
    position: relative; }
    .footer .field__line .input {
      padding: 0 169px 0 30px;
      height: 38px;
      width: 370px;
      border: 1px solid black;
      border-radius: 19px;
      outline: 1px solid transparent;
      transition: border .2s ease-out; }
    .footer .field__line .button {
      padding: 10px 35px;
      position: absolute;
      top: 0;
      right: 0;
      height: 38px;
      line-height: 1;
      font-size: 15px;
      font-weight: bold;
      color: #fff;
      background-color: #000;
      text-transform: uppercase;
      border: 0;
      border-radius: 19px;
      outline: 1px solid transparent;
      cursor: pointer;
      transition: background .2s ease-out; }
  .footer .social-buttons,
  .footer .fa-socials {
    margin-left: auto; }

@media screen and (max-width: 767px) {
  .footer__logo {
    margin: auto; }
  .footer__page-link:first-child {
    margin-top: 20px; }
  .footer__subscribe-wrapper {
    margin-left: auto;
    margin-right: auto; }
  .bottom-line {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column; }
    .bottom-line .column:nth-child(2) {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
              flex-direction: row;
      justify-content: space-around; }
    .bottom-line .column:nth-child(3) {
      margin: auto; }
      .bottom-line .column:nth-child(3) .footer__page-link {
        margin-left: auto;
        margin-right: auto; }
    .bottom-line .social-buttons,
    .bottom-line .fa-socials {
      margin: auto; } }

@media screen and (min-width: 780px) and (max-width: 1199px) {
  .bottom-line {
    flex-wrap: wrap;
    justify-content: space-around; } }

.social-buttons {
  display: inline-block;
  cursor: default;
  font-size: 0; }
  .top-line .social-buttons {
    margin-top: 8px; }

.social-button {
  display: inline-block;
  width: 32px;
  height: 32px;
  background-image: url("assets/images/socials.png");
  background-repeat: no-repeat;
  cursor: pointer; }
  .social-button:not(:last-child) {
    margin-right: 8px; }
    .top-line .social-button:not(:last-child),
    .footer .social-button:not(:last-child) {
      margin-right: 16px; }
  .social-button.is-disabled {
    cursor: default; }
  .social-button.u-bitcoin {
    background-position: 0 0; }
    .social-button.u-bitcoin:hover {
      background-position-y: -32px; }
    .social-button.u-bitcoin.is-disabled {
      background-position-y: -64px; }
  .social-button.u-reddit {
    background-position: -32px 0; }
    .social-button.u-reddit:hover {
      background-position-y: -32px; }
    .social-button.u-reddit.is-disabled {
      background-position-y: -64px; }
  .social-button.u-github {
    background-position: -64px 0; }
    .social-button.u-github:hover {
      background-position-y: -32px; }
    .social-button.u-github.is-disabled {
      background-position-y: -64px; }
  .social-button.u-facebook {
    background-position: -96px 0; }
    .social-button.u-facebook:hover {
      background-position-y: -32px; }
    .social-button.u-facebook.is-disabled {
      background-position-y: -64px; }
  .social-button.u-twitter {
    background-position: -128px 0; }
    .social-button.u-twitter:hover {
      background-position-y: -32px; }
    .social-button.u-twitter.is-disabled {
      background-position-y: -64px; }
  .social-button.u-telegram {
    background-position: -160px 0; }
    .social-button.u-telegram:hover {
      background-position-y: -32px; }
    .social-button.u-telegram.is-disabled {
      background-position-y: -64px; }
  .social-button.u-www {
    background-position: -192px 0; }
    .social-button.u-www:hover {
      background-position-y: -32px; }
    .social-button.u-www.is-disabled {
      background-position-y: -64px; }

.fa-socials {
  display: inline-block;
  cursor: default;
  font-size: 30px; }
  .top-line .fa-socials {
    margin-top: 8px; }

.fa-social-button {
  display: inline-block;
  color: #111;
  transition: color .2s ease-out; }
  .fa-social-button:not(:last-child) {
    margin-right: 8px; }
    .top-line .fa-social-button:not(:last-child),
    .footer .fa-social-button:not(:last-child) {
      margin-right: 16px; }
  .fa-social-button:hover {
    color: #e84a1e; }

.field__social-icon {
  margin-right: 10px;
  width: 32px;
  height: 32px;
  background-image: url("assets/images/socials.png");
  background-repeat: no-repeat;
  -webkit-transform: translateY(26px);
          transform: translateY(26px); }
  .field__social-icon.u-bitcoin {
    background-position: 0 0; }
  .field__social-icon.u-reddit {
    background-position: -32px 0; }
  .field__social-icon.u-github {
    background-position: -64px 0; }
  .field__social-icon.u-facebook {
    background-position: -96px 0; }
  .field__social-icon.u-twitter {
    background-position: -128px 0; }
  .field__social-icon.u-telegram {
    background-position: -160px 0; }
  .field__social-icon.u-www {
    background-position: -192px 0; }
  .field__social-icon.u-none {
    background: none; }
  .field__social-icon ~ div {
    width: calc(100% - 42px); }

.field {
  width: 100%;
  display: -webkit-box;
  display: flex; }
  .field .is-red {
    color: #e84a1e; }

.add-ico__form .field label {
  width: 100%; }
  .add-ico__form .field label p {
    padding: 0; }

.add-ico__form .input,
.add-ico__form .textarea {
  padding: 4px 8px;
  font-size: 15px;
  background-color: #fff;
  border: 1px solid #ccc; }

.add-ico__form .file-input {
  margin-bottom: 20px; }

.add-ico__text {
  margin-bottom: 25px; }

.input,
.textarea {
  margin-bottom: 25px;
  padding: 12px 40px;
  width: 100%;
  font-size: 16px;
  background-color: #e2e5e7;
  border: #e2e5e7;
  outline-color: #e84a1e; }

.textarea {
  resize: none; }

@media screen and (max-width: 767px) {
  .field {
    flex-wrap: wrap; }
    .field .control {
      width: 100%; } }

@media screen and (min-width: 768px) {
  .field .control {
    -webkit-box-flex: 1;
            flex: 1 1 auto; }
    .field .control:not(:last-child) {
      margin-right: 30px; } }

.column {
  display: block;
  flex-basis: 0;
  -webkit-box-flex: 1;
  flex-grow: 1;
  flex-shrink: 1;
  padding: 0.75rem; }

.columns.is-mobile > .column.is-narrow {
  -webkit-box-flex: 0;
  flex: none; }

.columns.is-mobile > .column.is-full {
  -webkit-box-flex: 0;
  flex: none;
  width: 100%; }

.columns.is-mobile > .column.is-three-quarters {
  -webkit-box-flex: 0;
  flex: none;
  width: 75%; }

.columns.is-mobile > .column.is-two-thirds {
  -webkit-box-flex: 0;
  flex: none;
  width: 66.6666%; }

.columns.is-mobile > .column.is-half {
  -webkit-box-flex: 0;
  flex: none;
  width: 50%; }

.columns.is-mobile > .column.is-one-third {
  -webkit-box-flex: 0;
  flex: none;
  width: 33.3333%; }

.columns.is-mobile > .column.is-one-quarter {
  -webkit-box-flex: 0;
  flex: none;
  width: 25%; }

.columns.is-mobile > .column.is-offset-three-quarters {
  margin-left: 75%; }

.columns.is-mobile > .column.is-offset-two-thirds {
  margin-left: 66.6666%; }

.columns.is-mobile > .column.is-offset-half {
  margin-left: 50%; }

.columns.is-mobile > .column.is-offset-one-third {
  margin-left: 33.3333%; }

.columns.is-mobile > .column.is-offset-one-quarter {
  margin-left: 25%; }

.columns.is-mobile > .column.is-1 {
  -webkit-box-flex: 0;
  flex: none;
  width: 8.33333%; }

.columns.is-mobile > .column.is-offset-1 {
  margin-left: 8.33333%; }

.columns.is-mobile > .column.is-2 {
  -webkit-box-flex: 0;
  flex: none;
  width: 16.66667%; }

.columns.is-mobile > .column.is-offset-2 {
  margin-left: 16.66667%; }

.columns.is-mobile > .column.is-3 {
  -webkit-box-flex: 0;
  flex: none;
  width: 25%; }

.columns.is-mobile > .column.is-offset-3 {
  margin-left: 25%; }

.columns.is-mobile > .column.is-4 {
  -webkit-box-flex: 0;
  flex: none;
  width: 33.33333%; }

.columns.is-mobile > .column.is-offset-4 {
  margin-left: 33.33333%; }

.columns.is-mobile > .column.is-5 {
  -webkit-box-flex: 0;
  flex: none;
  width: 41.66667%; }

.columns.is-mobile > .column.is-offset-5 {
  margin-left: 41.66667%; }

.columns.is-mobile > .column.is-6 {
  -webkit-box-flex: 0;
  flex: none;
  width: 50%; }

.columns.is-mobile > .column.is-offset-6 {
  margin-left: 50%; }

.columns.is-mobile > .column.is-7 {
  -webkit-box-flex: 0;
  flex: none;
  width: 58.33333%; }

.columns.is-mobile > .column.is-offset-7 {
  margin-left: 58.33333%; }

.columns.is-mobile > .column.is-8 {
  -webkit-box-flex: 0;
  flex: none;
  width: 66.66667%; }

.columns.is-mobile > .column.is-offset-8 {
  margin-left: 66.66667%; }

.columns.is-mobile > .column.is-9 {
  -webkit-box-flex: 0;
  flex: none;
  width: 75%; }

.columns.is-mobile > .column.is-offset-9 {
  margin-left: 75%; }

.columns.is-mobile > .column.is-10 {
  -webkit-box-flex: 0;
  flex: none;
  width: 83.33333%; }

.columns.is-mobile > .column.is-offset-10 {
  margin-left: 83.33333%; }

.columns.is-mobile > .column.is-11 {
  -webkit-box-flex: 0;
  flex: none;
  width: 91.66667%; }

.columns.is-mobile > .column.is-offset-11 {
  margin-left: 91.66667%; }

.columns.is-mobile > .column.is-12 {
  -webkit-box-flex: 0;
  flex: none;
  width: 100%; }

.columns.is-mobile > .column.is-offset-12 {
  margin-left: 100%; }

@media screen and (max-width: 768px) {
  .column.is-narrow-mobile {
    -webkit-box-flex: 0;
    flex: none; }
  .column.is-full-mobile {
    -webkit-box-flex: 0;
    flex: none;
    width: 100%; }
  .column.is-three-quarters-mobile {
    -webkit-box-flex: 0;
    flex: none;
    width: 75%; }
  .column.is-two-thirds-mobile {
    -webkit-box-flex: 0;
    flex: none;
    width: 66.6666%; }
  .column.is-half-mobile {
    -webkit-box-flex: 0;
    flex: none;
    width: 50%; }
  .column.is-one-third-mobile {
    -webkit-box-flex: 0;
    flex: none;
    width: 33.3333%; }
  .column.is-one-quarter-mobile {
    -webkit-box-flex: 0;
    flex: none;
    width: 25%; }
  .column.is-offset-three-quarters-mobile {
    margin-left: 75%; }
  .column.is-offset-two-thirds-mobile {
    margin-left: 66.6666%; }
  .column.is-offset-half-mobile {
    margin-left: 50%; }
  .column.is-offset-one-third-mobile {
    margin-left: 33.3333%; }
  .column.is-offset-one-quarter-mobile {
    margin-left: 25%; }
  .column.is-1-mobile {
    -webkit-box-flex: 0;
    flex: none;
    width: 8.33333%; }
  .column.is-offset-1-mobile {
    margin-left: 8.33333%; }
  .column.is-2-mobile {
    -webkit-box-flex: 0;
    flex: none;
    width: 16.66667%; }
  .column.is-offset-2-mobile {
    margin-left: 16.66667%; }
  .column.is-3-mobile {
    -webkit-box-flex: 0;
    flex: none;
    width: 25%; }
  .column.is-offset-3-mobile {
    margin-left: 25%; }
  .column.is-4-mobile {
    -webkit-box-flex: 0;
    flex: none;
    width: 33.33333%; }
  .column.is-offset-4-mobile {
    margin-left: 33.33333%; }
  .column.is-5-mobile {
    -webkit-box-flex: 0;
    flex: none;
    width: 41.66667%; }
  .column.is-offset-5-mobile {
    margin-left: 41.66667%; }
  .column.is-6-mobile {
    -webkit-box-flex: 0;
    flex: none;
    width: 50%; }
  .column.is-offset-6-mobile {
    margin-left: 50%; }
  .column.is-7-mobile {
    -webkit-box-flex: 0;
    flex: none;
    width: 58.33333%; }
  .column.is-offset-7-mobile {
    margin-left: 58.33333%; }
  .column.is-8-mobile {
    -webkit-box-flex: 0;
    flex: none;
    width: 66.66667%; }
  .column.is-offset-8-mobile {
    margin-left: 66.66667%; }
  .column.is-9-mobile {
    -webkit-box-flex: 0;
    flex: none;
    width: 75%; }
  .column.is-offset-9-mobile {
    margin-left: 75%; }
  .column.is-10-mobile {
    -webkit-box-flex: 0;
    flex: none;
    width: 83.33333%; }
  .column.is-offset-10-mobile {
    margin-left: 83.33333%; }
  .column.is-11-mobile {
    -webkit-box-flex: 0;
    flex: none;
    width: 91.66667%; }
  .column.is-offset-11-mobile {
    margin-left: 91.66667%; }
  .column.is-12-mobile {
    -webkit-box-flex: 0;
    flex: none;
    width: 100%; }
  .column.is-offset-12-mobile {
    margin-left: 100%; } }

@media screen and (min-width: 769px), print {
  .column.is-narrow, .column.is-narrow-tablet {
    -webkit-box-flex: 0;
    flex: none; }
  .column.is-full, .column.is-full-tablet {
    -webkit-box-flex: 0;
    flex: none;
    width: 100%; }
  .column.is-three-quarters, .column.is-three-quarters-tablet {
    -webkit-box-flex: 0;
    flex: none;
    width: 75%; }
  .column.is-two-thirds, .column.is-two-thirds-tablet {
    -webkit-box-flex: 0;
    flex: none;
    width: 66.6666%; }
  .column.is-half, .column.is-half-tablet {
    -webkit-box-flex: 0;
    flex: none;
    width: 50%; }
  .column.is-one-third, .column.is-one-third-tablet {
    -webkit-box-flex: 0;
    flex: none;
    width: 33.3333%; }
  .column.is-one-quarter, .column.is-one-quarter-tablet {
    -webkit-box-flex: 0;
    flex: none;
    width: 25%; }
  .column.is-offset-three-quarters, .column.is-offset-three-quarters-tablet {
    margin-left: 75%; }
  .column.is-offset-two-thirds, .column.is-offset-two-thirds-tablet {
    margin-left: 66.6666%; }
  .column.is-offset-half, .column.is-offset-half-tablet {
    margin-left: 50%; }
  .column.is-offset-one-third, .column.is-offset-one-third-tablet {
    margin-left: 33.3333%; }
  .column.is-offset-one-quarter, .column.is-offset-one-quarter-tablet {
    margin-left: 25%; }
  .column.is-1, .column.is-1-tablet {
    -webkit-box-flex: 0;
    flex: none;
    width: 8.33333%; }
  .column.is-offset-1, .column.is-offset-1-tablet {
    margin-left: 8.33333%; }
  .column.is-2, .column.is-2-tablet {
    -webkit-box-flex: 0;
    flex: none;
    width: 16.66667%; }
  .column.is-offset-2, .column.is-offset-2-tablet {
    margin-left: 16.66667%; }
  .column.is-3, .column.is-3-tablet {
    -webkit-box-flex: 0;
    flex: none;
    width: 25%; }
  .column.is-offset-3, .column.is-offset-3-tablet {
    margin-left: 25%; }
  .column.is-4, .column.is-4-tablet {
    -webkit-box-flex: 0;
    flex: none;
    width: 33.33333%; }
  .column.is-offset-4, .column.is-offset-4-tablet {
    margin-left: 33.33333%; }
  .column.is-5, .column.is-5-tablet {
    -webkit-box-flex: 0;
    flex: none;
    width: 41.66667%; }
  .column.is-offset-5, .column.is-offset-5-tablet {
    margin-left: 41.66667%; }
  .column.is-6, .column.is-6-tablet {
    -webkit-box-flex: 0;
    flex: none;
    width: 50%; }
  .column.is-offset-6, .column.is-offset-6-tablet {
    margin-left: 50%; }
  .column.is-7, .column.is-7-tablet {
    -webkit-box-flex: 0;
    flex: none;
    width: 58.33333%; }
  .column.is-offset-7, .column.is-offset-7-tablet {
    margin-left: 58.33333%; }
  .column.is-8, .column.is-8-tablet {
    -webkit-box-flex: 0;
    flex: none;
    width: 66.66667%; }
  .column.is-offset-8, .column.is-offset-8-tablet {
    margin-left: 66.66667%; }
  .column.is-9, .column.is-9-tablet {
    -webkit-box-flex: 0;
    flex: none;
    width: 75%; }
  .column.is-offset-9, .column.is-offset-9-tablet {
    margin-left: 75%; }
  .column.is-10, .column.is-10-tablet {
    -webkit-box-flex: 0;
    flex: none;
    width: 83.33333%; }
  .column.is-offset-10, .column.is-offset-10-tablet {
    margin-left: 83.33333%; }
  .column.is-11, .column.is-11-tablet {
    -webkit-box-flex: 0;
    flex: none;
    width: 91.66667%; }
  .column.is-offset-11, .column.is-offset-11-tablet {
    margin-left: 91.66667%; }
  .column.is-12, .column.is-12-tablet {
    -webkit-box-flex: 0;
    flex: none;
    width: 100%; }
  .column.is-offset-12, .column.is-offset-12-tablet {
    margin-left: 100%; } }

@media screen and (max-width: 1023px) {
  .column.is-narrow-touch {
    -webkit-box-flex: 0;
    flex: none; }
  .column.is-full-touch {
    -webkit-box-flex: 0;
    flex: none;
    width: 100%; }
  .column.is-three-quarters-touch {
    -webkit-box-flex: 0;
    flex: none;
    width: 75%; }
  .column.is-two-thirds-touch {
    -webkit-box-flex: 0;
    flex: none;
    width: 66.6666%; }
  .column.is-half-touch {
    -webkit-box-flex: 0;
    flex: none;
    width: 50%; }
  .column.is-one-third-touch {
    -webkit-box-flex: 0;
    flex: none;
    width: 33.3333%; }
  .column.is-one-quarter-touch {
    -webkit-box-flex: 0;
    flex: none;
    width: 25%; }
  .column.is-offset-three-quarters-touch {
    margin-left: 75%; }
  .column.is-offset-two-thirds-touch {
    margin-left: 66.6666%; }
  .column.is-offset-half-touch {
    margin-left: 50%; }
  .column.is-offset-one-third-touch {
    margin-left: 33.3333%; }
  .column.is-offset-one-quarter-touch {
    margin-left: 25%; }
  .column.is-1-touch {
    -webkit-box-flex: 0;
    flex: none;
    width: 8.33333%; }
  .column.is-offset-1-touch {
    margin-left: 8.33333%; }
  .column.is-2-touch {
    -webkit-box-flex: 0;
    flex: none;
    width: 16.66667%; }
  .column.is-offset-2-touch {
    margin-left: 16.66667%; }
  .column.is-3-touch {
    -webkit-box-flex: 0;
    flex: none;
    width: 25%; }
  .column.is-offset-3-touch {
    margin-left: 25%; }
  .column.is-4-touch {
    -webkit-box-flex: 0;
    flex: none;
    width: 33.33333%; }
  .column.is-offset-4-touch {
    margin-left: 33.33333%; }
  .column.is-5-touch {
    -webkit-box-flex: 0;
    flex: none;
    width: 41.66667%; }
  .column.is-offset-5-touch {
    margin-left: 41.66667%; }
  .column.is-6-touch {
    -webkit-box-flex: 0;
    flex: none;
    width: 50%; }
  .column.is-offset-6-touch {
    margin-left: 50%; }
  .column.is-7-touch {
    -webkit-box-flex: 0;
    flex: none;
    width: 58.33333%; }
  .column.is-offset-7-touch {
    margin-left: 58.33333%; }
  .column.is-8-touch {
    -webkit-box-flex: 0;
    flex: none;
    width: 66.66667%; }
  .column.is-offset-8-touch {
    margin-left: 66.66667%; }
  .column.is-9-touch {
    -webkit-box-flex: 0;
    flex: none;
    width: 75%; }
  .column.is-offset-9-touch {
    margin-left: 75%; }
  .column.is-10-touch {
    -webkit-box-flex: 0;
    flex: none;
    width: 83.33333%; }
  .column.is-offset-10-touch {
    margin-left: 83.33333%; }
  .column.is-11-touch {
    -webkit-box-flex: 0;
    flex: none;
    width: 91.66667%; }
  .column.is-offset-11-touch {
    margin-left: 91.66667%; }
  .column.is-12-touch {
    -webkit-box-flex: 0;
    flex: none;
    width: 100%; }
  .column.is-offset-12-touch {
    margin-left: 100%; } }

@media screen and (min-width: 1024px) {
  .column.is-narrow-desktop {
    -webkit-box-flex: 0;
    flex: none; }
  .column.is-full-desktop {
    -webkit-box-flex: 0;
    flex: none;
    width: 100%; }
  .column.is-three-quarters-desktop {
    -webkit-box-flex: 0;
    flex: none;
    width: 75%; }
  .column.is-two-thirds-desktop {
    -webkit-box-flex: 0;
    flex: none;
    width: 66.6666%; }
  .column.is-half-desktop {
    -webkit-box-flex: 0;
    flex: none;
    width: 50%; }
  .column.is-one-third-desktop {
    -webkit-box-flex: 0;
    flex: none;
    width: 33.3333%; }
  .column.is-one-quarter-desktop {
    -webkit-box-flex: 0;
    flex: none;
    width: 25%; }
  .column.is-offset-three-quarters-desktop {
    margin-left: 75%; }
  .column.is-offset-two-thirds-desktop {
    margin-left: 66.6666%; }
  .column.is-offset-half-desktop {
    margin-left: 50%; }
  .column.is-offset-one-third-desktop {
    margin-left: 33.3333%; }
  .column.is-offset-one-quarter-desktop {
    margin-left: 25%; }
  .column.is-1-desktop {
    -webkit-box-flex: 0;
    flex: none;
    width: 8.33333%; }
  .column.is-offset-1-desktop {
    margin-left: 8.33333%; }
  .column.is-2-desktop {
    -webkit-box-flex: 0;
    flex: none;
    width: 16.66667%; }
  .column.is-offset-2-desktop {
    margin-left: 16.66667%; }
  .column.is-3-desktop {
    -webkit-box-flex: 0;
    flex: none;
    width: 25%; }
  .column.is-offset-3-desktop {
    margin-left: 25%; }
  .column.is-4-desktop {
    -webkit-box-flex: 0;
    flex: none;
    width: 33.33333%; }
  .column.is-offset-4-desktop {
    margin-left: 33.33333%; }
  .column.is-5-desktop {
    -webkit-box-flex: 0;
    flex: none;
    width: 41.66667%; }
  .column.is-offset-5-desktop {
    margin-left: 41.66667%; }
  .column.is-6-desktop {
    -webkit-box-flex: 0;
    flex: none;
    width: 50%; }
  .column.is-offset-6-desktop {
    margin-left: 50%; }
  .column.is-7-desktop {
    -webkit-box-flex: 0;
    flex: none;
    width: 58.33333%; }
  .column.is-offset-7-desktop {
    margin-left: 58.33333%; }
  .column.is-8-desktop {
    -webkit-box-flex: 0;
    flex: none;
    width: 66.66667%; }
  .column.is-offset-8-desktop {
    margin-left: 66.66667%; }
  .column.is-9-desktop {
    -webkit-box-flex: 0;
    flex: none;
    width: 75%; }
  .column.is-offset-9-desktop {
    margin-left: 75%; }
  .column.is-10-desktop {
    -webkit-box-flex: 0;
    flex: none;
    width: 83.33333%; }
  .column.is-offset-10-desktop {
    margin-left: 83.33333%; }
  .column.is-11-desktop {
    -webkit-box-flex: 0;
    flex: none;
    width: 91.66667%; }
  .column.is-offset-11-desktop {
    margin-left: 91.66667%; }
  .column.is-12-desktop {
    -webkit-box-flex: 0;
    flex: none;
    width: 100%; }
  .column.is-offset-12-desktop {
    margin-left: 100%; } }

@media screen and (min-width: 1216px) {
  .column.is-narrow-widescreen {
    -webkit-box-flex: 0;
    flex: none; }
  .column.is-full-widescreen {
    -webkit-box-flex: 0;
    flex: none;
    width: 100%; }
  .column.is-three-quarters-widescreen {
    -webkit-box-flex: 0;
    flex: none;
    width: 75%; }
  .column.is-two-thirds-widescreen {
    -webkit-box-flex: 0;
    flex: none;
    width: 66.6666%; }
  .column.is-half-widescreen {
    -webkit-box-flex: 0;
    flex: none;
    width: 50%; }
  .column.is-one-third-widescreen {
    -webkit-box-flex: 0;
    flex: none;
    width: 33.3333%; }
  .column.is-one-quarter-widescreen {
    -webkit-box-flex: 0;
    flex: none;
    width: 25%; }
  .column.is-offset-three-quarters-widescreen {
    margin-left: 75%; }
  .column.is-offset-two-thirds-widescreen {
    margin-left: 66.6666%; }
  .column.is-offset-half-widescreen {
    margin-left: 50%; }
  .column.is-offset-one-third-widescreen {
    margin-left: 33.3333%; }
  .column.is-offset-one-quarter-widescreen {
    margin-left: 25%; }
  .column.is-1-widescreen {
    -webkit-box-flex: 0;
    flex: none;
    width: 8.33333%; }
  .column.is-offset-1-widescreen {
    margin-left: 8.33333%; }
  .column.is-2-widescreen {
    -webkit-box-flex: 0;
    flex: none;
    width: 16.66667%; }
  .column.is-offset-2-widescreen {
    margin-left: 16.66667%; }
  .column.is-3-widescreen {
    -webkit-box-flex: 0;
    flex: none;
    width: 25%; }
  .column.is-offset-3-widescreen {
    margin-left: 25%; }
  .column.is-4-widescreen {
    -webkit-box-flex: 0;
    flex: none;
    width: 33.33333%; }
  .column.is-offset-4-widescreen {
    margin-left: 33.33333%; }
  .column.is-5-widescreen {
    -webkit-box-flex: 0;
    flex: none;
    width: 41.66667%; }
  .column.is-offset-5-widescreen {
    margin-left: 41.66667%; }
  .column.is-6-widescreen {
    -webkit-box-flex: 0;
    flex: none;
    width: 50%; }
  .column.is-offset-6-widescreen {
    margin-left: 50%; }
  .column.is-7-widescreen {
    -webkit-box-flex: 0;
    flex: none;
    width: 58.33333%; }
  .column.is-offset-7-widescreen {
    margin-left: 58.33333%; }
  .column.is-8-widescreen {
    -webkit-box-flex: 0;
    flex: none;
    width: 66.66667%; }
  .column.is-offset-8-widescreen {
    margin-left: 66.66667%; }
  .column.is-9-widescreen {
    -webkit-box-flex: 0;
    flex: none;
    width: 75%; }
  .column.is-offset-9-widescreen {
    margin-left: 75%; }
  .column.is-10-widescreen {
    -webkit-box-flex: 0;
    flex: none;
    width: 83.33333%; }
  .column.is-offset-10-widescreen {
    margin-left: 83.33333%; }
  .column.is-11-widescreen {
    -webkit-box-flex: 0;
    flex: none;
    width: 91.66667%; }
  .column.is-offset-11-widescreen {
    margin-left: 91.66667%; }
  .column.is-12-widescreen {
    -webkit-box-flex: 0;
    flex: none;
    width: 100%; }
  .column.is-offset-12-widescreen {
    margin-left: 100%; } }

@media screen and (min-width: 1408px) {
  .column.is-narrow-fullhd {
    -webkit-box-flex: 0;
    flex: none; }
  .column.is-full-fullhd {
    -webkit-box-flex: 0;
    flex: none;
    width: 100%; }
  .column.is-three-quarters-fullhd {
    -webkit-box-flex: 0;
    flex: none;
    width: 75%; }
  .column.is-two-thirds-fullhd {
    -webkit-box-flex: 0;
    flex: none;
    width: 66.6666%; }
  .column.is-half-fullhd {
    -webkit-box-flex: 0;
    flex: none;
    width: 50%; }
  .column.is-one-third-fullhd {
    -webkit-box-flex: 0;
    flex: none;
    width: 33.3333%; }
  .column.is-one-quarter-fullhd {
    -webkit-box-flex: 0;
    flex: none;
    width: 25%; }
  .column.is-offset-three-quarters-fullhd {
    margin-left: 75%; }
  .column.is-offset-two-thirds-fullhd {
    margin-left: 66.6666%; }
  .column.is-offset-half-fullhd {
    margin-left: 50%; }
  .column.is-offset-one-third-fullhd {
    margin-left: 33.3333%; }
  .column.is-offset-one-quarter-fullhd {
    margin-left: 25%; }
  .column.is-1-fullhd {
    -webkit-box-flex: 0;
    flex: none;
    width: 8.33333%; }
  .column.is-offset-1-fullhd {
    margin-left: 8.33333%; }
  .column.is-2-fullhd {
    -webkit-box-flex: 0;
    flex: none;
    width: 16.66667%; }
  .column.is-offset-2-fullhd {
    margin-left: 16.66667%; }
  .column.is-3-fullhd {
    -webkit-box-flex: 0;
    flex: none;
    width: 25%; }
  .column.is-offset-3-fullhd {
    margin-left: 25%; }
  .column.is-4-fullhd {
    -webkit-box-flex: 0;
    flex: none;
    width: 33.33333%; }
  .column.is-offset-4-fullhd {
    margin-left: 33.33333%; }
  .column.is-5-fullhd {
    -webkit-box-flex: 0;
    flex: none;
    width: 41.66667%; }
  .column.is-offset-5-fullhd {
    margin-left: 41.66667%; }
  .column.is-6-fullhd {
    -webkit-box-flex: 0;
    flex: none;
    width: 50%; }
  .column.is-offset-6-fullhd {
    margin-left: 50%; }
  .column.is-7-fullhd {
    -webkit-box-flex: 0;
    flex: none;
    width: 58.33333%; }
  .column.is-offset-7-fullhd {
    margin-left: 58.33333%; }
  .column.is-8-fullhd {
    -webkit-box-flex: 0;
    flex: none;
    width: 66.66667%; }
  .column.is-offset-8-fullhd {
    margin-left: 66.66667%; }
  .column.is-9-fullhd {
    -webkit-box-flex: 0;
    flex: none;
    width: 75%; }
  .column.is-offset-9-fullhd {
    margin-left: 75%; }
  .column.is-10-fullhd {
    -webkit-box-flex: 0;
    flex: none;
    width: 83.33333%; }
  .column.is-offset-10-fullhd {
    margin-left: 83.33333%; }
  .column.is-11-fullhd {
    -webkit-box-flex: 0;
    flex: none;
    width: 91.66667%; }
  .column.is-offset-11-fullhd {
    margin-left: 91.66667%; }
  .column.is-12-fullhd {
    -webkit-box-flex: 0;
    flex: none;
    width: 100%; }
  .column.is-offset-12-fullhd {
    margin-left: 100%; } }

.columns {
  margin-left: -0.75rem;
  margin-right: -0.75rem;
  margin-top: -0.75rem; }

.columns:last-child {
  margin-bottom: -0.75rem; }

.columns:not(:last-child) {
  margin-bottom: calc(1.5rem - 0.75rem); }

.columns.is-centered {
  -webkit-box-pack: center;
  justify-content: center; }

.columns.is-gapless {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0; }

.columns.is-gapless > .column {
  margin: 0;
  padding: 0 !important; }

.columns.is-gapless:not(:last-child) {
  margin-bottom: 1.5rem; }

.columns.is-gapless:last-child {
  margin-bottom: 0; }

.columns.is-mobile {
  display: -webkit-box;
  display: flex; }

.columns.is-multiline {
  flex-wrap: wrap; }

.columns.is-vcentered {
  -webkit-box-align: center;
  align-items: center; }

@media screen and (min-width: 769px), print {
  .columns:not(.is-desktop) {
    display: -webkit-box;
    display: flex; } }

@media screen and (min-width: 1024px) {
  .columns.is-desktop {
    display: -webkit-box;
    display: flex; } }

.u-no-resize {
  -webkit-box-flex: 0;
          flex: 0 0 auto; }

.featured-products__top-line {
  margin: 20px 0;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between; }

.featured-products .products {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
          justify-content: space-between; }

.featured-products__title {
  line-height: 1;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase; }
  .featured-products__title:after {
    margin-top: 8px;
    content: "";
    display: block;
    width: 36px;
    border-bottom: 2px solid #e84a1e; }

.featured-products .product {
  position: relative;
  margin-bottom: 45px;
  padding-bottom: 46px;
  min-width: 300px;
  max-width: 360px;
  height: 410px;
  border: 1px solid #a0a0a0;
  box-sizing: border-box;
  overflow: hidden; }
  .featured-products .product:not(:nth-child(3n + 3)) {
    margin-right: 45px; }
  .featured-products .product:last-child {
    margin-right: auto; }
  .featured-products .product:hover {
    border-color: #e84a1e; }
  .featured-products .product__image-wrapper {
    margin: 20px 25px;
    height: 156px;
    overflow: hidden; }
    .featured-products .product__image-wrapper img {
      position: relative;
      top: -50%; }
  .featured-products .product__information {
    padding: 11px 25px; }
  .featured-products .product__information-row {
    display: -webkit-box;
    display: flex;
    width: 100%; }
  .featured-products .product__description-text {
    padding: 0 0 14px;
    display: block;
    font-size: 15px;
    color: #000;
    width: 100%;
    height: 62px;
    overflow: hidden; }
  .featured-products .product__column {
    font-size: 15px; }
    .featured-products .product__column.u-left-column {
      margin-right: 13px;
      min-width: 50%; }
  .featured-products .product__date-start, .featured-products .product__date-end,
  .featured-products .product .price, .featured-products .product__bounty-link {
    /**/ }
  .featured-products .product__read-more {
    display: none; }

.featured-products .social-buttons {
  position: absolute;
  bottom: 8px;
  right: 10px; }
  .featured-products .social-buttons:before {
    margin-left: auto;
    margin-bottom: 10px;
    display: block;
    content: '';
    width: 230px;
    border-top: 1px solid #e84a1e; }

.featured-products .woocommerce-LoopProduct-link {
  display: block; }

.featured-products .woocommerce-loop-product__title {
  padding: 0 25px 15px;
  font-size: 18px;
  font-weight: bold;
  color: #000;
  line-height: 1;
  text-transform: uppercase;
  border-bottom: 1px solid #a0a0a0; }

.featured-products .button {
  display: none; }

.recent-products {
  margin-bottom: 70px; }
  .recent-products__top-line {
    margin: 20px 0;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
            justify-content: space-between; }
  .recent-products .products {
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
            justify-content: space-between; }
  .recent-products__title {
    line-height: 1;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase; }
    .recent-products__title:after {
      margin-top: 8px;
      content: "";
      display: block;
      width: 36px;
      border-bottom: 2px solid #e84a1e; }
  .recent-products .product {
    position: relative;
    margin-bottom: 22px;
    min-width: 250px;
    width: 270px;
    max-width: 290px;
    border: 1px solid #a0a0a0;
    box-sizing: border-box; }
    .recent-products .product:not(:nth-child(4n + 4)) {
      margin-right: 30px; }
    .recent-products .product:last-child {
      margin-right: auto; }
    .recent-products .product:hover {
      border-color: #e84a1e; }
    .recent-products .product__image-wrapper {
      margin: 20px 25px;
      height: 190px;
      overflow: hidden; }
      .recent-products .product__image-wrapper img {
        position: relative;
        top: -14px; }
    .recent-products .product__information {
      display: none; }
  .recent-products .social-buttons {
    display: none; }
  .recent-products .woocommerce-LoopProduct-link {
    display: block; }
  .recent-products .product__read-more,
  .recent-products .woocommerce-loop-product__title {
    padding: 24px 25px 22px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    line-height: 1;
    text-transform: uppercase;
    background-color: #a0a0a0; }
  .recent-products .product__read-more {
    display: block;
    padding: 22px 25px 20px;
    background-color: #e84a1e;
    outline: 1px solid #e84a1e;
    font-weight: normal;
    transition: background .2s ease-out, color .2s ease-out; }
    .recent-products .product__read-more:hover {
      background-color: #fff;
      color: #e84a1e; }
  .recent-products .button {
    display: none; }

@media screen and (max-width: 479px) {
  .featured-products .container,
  .recent-products .container {
    margin: auto 10px; }
  .featured-products .product:not(:nth-child(3n + 3)),
  .recent-products .product:not(:nth-child(4n + 4)),
  .product.type-product {
    margin-left: auto;
    margin-right: auto; } }

@media screen and (min-width: 480px) and (max-width: 767px) {
  .featured-products .container,
  .recent-products .container {
    margin: auto 30px; }
  .featured-products .product:not(:nth-child(3n + 3)),
  .recent-products .product:not(:nth-child(4n + 4)),
  .product.type-product {
    margin-left: auto;
    margin-right: auto; } }

@media screen and (min-width: 780px) and (max-width: 1199px) {
  .featured-products .product,
  .recent-products .product {
    margin-left: auto;
    margin-right: auto; }
    .featured-products .product:not(:nth-child(3n + 3)),
    .recent-products .product:not(:nth-child(3n + 3)) {
      margin-right: auto; }
    .featured-products .product:not(:nth-child(4n + 4)),
    .recent-products .product:not(:nth-child(4n + 4)) {
      margin-right: auto; } }

.owl-carousel {
  margin-bottom: 30px; }

.owl-dots {
  margin-top: 30px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center; }

.owl-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #fff;
  border: 1px solid #e84a1e; }
  .owl-dot.active {
    background-color: #e84a1e; }
  .owl-dot:not(:last-child) {
    margin-right: 10px; }

.single-product .product__read-more {
  display: none; }

.single-product .featured-products__title {
  margin-bottom: 28px;
  text-transform: none; }
  .single-product .featured-products__title.is-big {
    margin-bottom: 14px;
    font-size: 22px; }
    .single-product .featured-products__title.is-big:after {
      margin-top: 17px;
      width: 200px; }

.single-product .product {
  margin-top: 14px; }

.single-product__image-wrapper {
  margin: auto;
  height: 156px;
  width: 307px;
  overflow: hidden; }
  .single-product__image-wrapper img {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: -50%; }
  .single-product__image-wrapper.u-main-img {
    width: 100%;
    height: 300px; }

.single-product__media-wrapper {
  margin: 0 auto 45px;
  max-width: 600px; }
  .single-product__media-wrapper iframe {
    width: calc(100vw - 40px);
    max-width: 600px;
    height: calc((100vw - 40px) / 16 * 9);
    max-height: 337.5px; }

.single-product__details-grid {
  display: -webkit-box;
  display: flex;
  margin-bottom: 118px;
  flex-wrap: wrap;
  border: 1px solid #aaaaaa;
  border-bottom: 0; }
  .single-product__details-grid .is-row {
    padding-left: 12px;
    width: 50%;
    line-height: 28px;
    border-bottom: 1px solid #aaaaaa; }

.single-product__description {
  line-height: 1; }
  .single-product__description p {
    margin-bottom: 22px; }

.single-product .content-area .social-buttons {
  margin-bottom: 30px; }

.single-product__buttons-row {
  margin-top: 40px;
  margin-bottom: 118px;
  min-width: 320px;
  display: -webkit-box;
  display: flex; }
  .single-product__buttons-row .btn:not(:last-child) {
    margin-right: 17px; }

.woocommerce-product-details__short-description {
  margin-bottom: 20px; }

@media screen and (max-width: 768px) {
  .single-product__image-wrapper {
    max-width: 100%; }
    .single-product__image-wrapper.u-main-img {
      display: none; } }

@media screen and (min-width: 769px) and (max-width: 1200px) {
  .single-product__image-wrapper.u-main-img {
    display: block;
    max-width: 400px;
    height: 200px; } }

.page-template-template-icolist {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  min-height: 100vh; }

.onsale {
  display: none; }

.ico-list {
  padding-left: 15px;
  padding-right: 15px;
  min-width: 730px;
  -webkit-box-flex: 1;
          flex: 1 1 auto; }
  .ico-list #products-all,
  .ico-list #products-featured,
  .ico-list #products-ongoing,
  .ico-list #products-comingsoon {
    display: none; }
    .ico-list #products-all.active,
    .ico-list #products-featured.active,
    .ico-list #products-ongoing.active,
    .ico-list #products-comingsoon.active {
      margin-bottom: 50px;
      display: block; }
  .ico-list .featured-products__top-line,
  .ico-list .hero {
    display: none; }
  .ico-list__buttons {
    margin-top: 55px;
    display: -webkit-box;
    display: flex; }
    .ico-list__buttons .btn {
      min-width: 130px;
      text-transform: uppercase;
      text-align: center;
      font-size: 15px;
      font-weight: bold;
      color: #a4a4a4;
      border-color: #a4a4a4; }
      .ico-list__buttons .btn:not(:last-child) {
        margin-right: 25px; }
      .ico-list__buttons .btn:hover, .ico-list__buttons .btn.active {
        border-color: #e84a1e;
        background-color: #e84a1e;
        color: #fff; }
  .ico-list .product {
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 100%;
    display: -webkit-box;
    display: flex;
    border: 1px solid #e2e5e7;
    border-top: none; }
    .ico-list .product.u-header {
      margin-top: 20px !important;
      min-width: 700px;
      background: #e2e5e7;
      font-weight: bold; }
      .ico-list .product.u-header .woocommerce-loop-product__title,
      .ico-list .product.u-header .product__description-text,
      .ico-list .product.u-header .product__date-start,
      .ico-list .product.u-header .product__date-end {
        margin: 13px 0 15px;
        padding: 0;
        font-weight: bold;
        line-height: 1; }
      .ico-list .product.u-header .product__description-text,
      .ico-list .product.u-header .product__date-start,
      .ico-list .product.u-header .product__date-end {
        margin-right: 40px; }
      .ico-list .product.u-header .product__image-wrapper {
        height: auto; }
    .ico-list .product:hover {
      border-color: #e2e5e7; }
    .ico-list .product .social-buttons, .ico-list .product__read-more, .ico-list .product__token-price,
    .ico-list .product__date-start span,
    .ico-list .product__date-end span {
      display: none; }
    .ico-list .product__information {
      display: -webkit-box;
      display: flex;
      -webkit-box-flex: 1;
              flex: 1 1 auto;
      min-width: 450px; }
    .ico-list .product__information-row {
      -webkit-box-flex: 0;
              flex: 0 0 auto; }
    .ico-list .product__column.u-left-column {
      display: -webkit-box;
      display: flex; }
    .ico-list .product__image-wrapper {
      margin: 9px 38px;
      width: 70px;
      height: 70px;
      -webkit-box-flex: 0;
              flex: 0 0 auto; }
      .ico-list .product__image-wrapper img {
        position: static;
        top: 0;
        width: 100%;
        height: 100%; }
    .ico-list .product__description-text {
      margin-top: 18px;
      margin-bottom: 18px;
      width: 400px;
      -webkit-box-flex: 1;
              flex: 1 1 auto; }
    .ico-list .product__date-start, .ico-list .product__date-end {
      margin-top: 18px;
      margin-bottom: 18px;
      margin-right: 40px;
      width: 110px; }
    .ico-list .product .woocommerce-LoopProduct-link {
      display: -webkit-box;
      display: flex;
      -webkit-box-flex: 0;
              flex: 0 0 auto;
      width: 350px; }
    .ico-list .product .woocommerce-loop-product__title {
      margin-top: 18px;
      margin-bottom: 18px;
      padding: 0;
      text-align: center;
      font-weight: normal;
      font-size: 15px;
      color: #111;
      line-height: 1;
      text-transform: none;
      background-color: transparent;
      border-bottom: 0; }
    .ico-list .product:last-child {
      margin: 0; }
  .ico-list .products {
    min-width: 700px;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column; }

@media screen and (max-width: 899px) {
  .ico-list__buttons {
    flex-wrap: wrap; }
    .ico-list__buttons .btn {
      padding: 8px 12px;
      min-width: 10px;
      font-size: 13px;
      font-weight: normal; }
      .ico-list__buttons .btn:not(:last-child) {
        margin-right: 5px; }
  .ico-list .product {
    font-size: 13px; }
    .ico-list .product__image-wrapper {
      margin: 4px 10px 4px 4px; }
    .ico-list .product .woocommerce-LoopProduct-link {
      width: 250px; }
    .ico-list .product .product__description-text,
    .ico-list .product .product__date-start,
    .ico-list .product .product__date-end {
      margin-right: 10px; } }

.page-bounties .container {
  padding: 0 10px; }

.bounties {
  padding: 0 10px; }
  .bounties.u-hot .bounty__link {
    padding: 0; }
  .bounties.u-hot .bounty__image-wrapper {
    height: 190px;
    overflow: hidden;
    background: url("./assets/images/hot.png") no-repeat; }
  .bounties.u-hot .bounty__image {
    -webkit-transform: translateY(-55px);
            transform: translateY(-55px); }
  .bounties__body {
    margin-left: auto;
    margin-right: auto; }
    @media screen and (max-width: 569px) {
      .bounties__body {
        max-width: 304px; } }
    @media screen and (min-width: 570px) and (max-width: 899px) {
      .bounties__body {
        max-width: 618px; } }
    @media screen and (min-width: 900px) and (max-width: 1199px) {
      .bounties__body {
        max-width: 932px; } }
    .bounties__body .products {
      margin-bottom: 30px;
      width: 100%;
      display: -webkit-box;
      display: flex;
      flex-wrap: wrap; }
    .bounties__body .product {
      display: inline-block;
      margin-left: initial;
      margin-right: initial;
      -webkit-box-flex: 0;
              flex: 0 0 auto;
      border: 2px solid #e84a1e;
      transition: border .13s ease-out; }
      .bounties__body .product:hover {
        border: 2px solid #111111; }

.bounty__header-wrapper {
  margin-top: 50px;
  margin-bottom: 60px;
  max-width: 950px; }

.bounty__hot-sticker {
  position: absolute;
  top: 0;
  left: 0;
  width: 120px !important;
  height: 118px !important;
  z-index: 9; }

.bounty__link {
  display: block;
  padding-top: 10px;
  color: #111111; }

.bounty__title {
  display: block;
  text-transform: uppercase;
  font-size: 18px;
  text-align: center;
  font-weight: bold; }

.bounty__short-description {
  display: block;
  padding: 0 5px 14px;
  font-size: 14px;
  font-weight: 400;
  text-align: center; }

@media screen and (max-width: 569px) {
  .bounties:not(.u-hot) .product {
    margin-bottom: 15px;
    width: calc((100% - 15px) / 2); }
    .bounties:not(.u-hot) .product:not(:nth-child(2n + 2)) {
      margin-right: 15px; } }

@media screen and (min-width: 570px) and (max-width: 899px) {
  .bounties:not(.u-hot) .product {
    margin-bottom: 15px;
    width: calc((100% - 30px) / 3); }
    .bounties:not(.u-hot) .product:not(:nth-child(3n + 3)) {
      margin-right: 15px; } }

@media screen and (min-width: 900px) and (max-width: 1199px) {
  .bounties:not(.u-hot) .product {
    margin-bottom: 20px;
    width: calc((100% - 60px) / 4); }
    .bounties:not(.u-hot) .product:not(:nth-child(4n + 4)) {
      margin-right: 20px; } }

@media screen and (min-width: 1200px) {
  .bounties:not(.u-hot) .product {
    margin-bottom: 20px;
    width: calc((100% - 80px) / 5); }
    .bounties:not(.u-hot) .product:not(:nth-child(5n + 5)) {
      margin-right: 20px; } }

section.featured-products .products,
.bounties.u-hot .products,
.owl-carousel {
  display: none;
  width: 100%;
  z-index: 1;
  -webkit-tap-highlight-color: transparent;
  position: relative; }
  section.featured-products .products .owl-stage,
  .bounties.u-hot .products .owl-stage,
  .owl-carousel .owl-stage {
    position: relative;
    -ms-touch-action: pan-Y;
    -moz-backface-visibility: hidden; }
    section.featured-products .products .owl-stage:after,
    .bounties.u-hot .products .owl-stage:after,
    .owl-carousel .owl-stage:after {
      content: ".";
      display: block;
      clear: both;
      visibility: hidden;
      line-height: 0;
      height: 0; }
  section.featured-products .products .owl-stage-outer,
  .bounties.u-hot .products .owl-stage-outer,
  .owl-carousel .owl-stage-outer {
    position: relative;
    overflow: hidden;
    -webkit-transform: translate3d(0, 0, 0); }
  section.featured-products .products .owl-item,
  section.featured-products .products .owl-wrapper,
  .bounties.u-hot .products .owl-item,
  .bounties.u-hot .products .owl-wrapper,
  .owl-carousel .owl-item,
  .owl-carousel .owl-wrapper {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0); }
  section.featured-products .products .owl-item,
  .bounties.u-hot .products .owl-item,
  .owl-carousel .owl-item {
    position: relative;
    min-height: 1px;
    float: left;
    -webkit-backface-visibility: hidden;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent; }
    section.featured-products .products .owl-item img,
    .bounties.u-hot .products .owl-item img,
    .owl-carousel .owl-item img {
      display: block;
      width: 100%; }
  section.featured-products .products .owl-dots.disabled,
  section.featured-products .products .owl-nav.disabled,
  .bounties.u-hot .products .owl-dots.disabled,
  .bounties.u-hot .products .owl-nav.disabled,
  .owl-carousel .owl-dots.disabled,
  .owl-carousel .owl-nav.disabled {
    display: none; }
  .no-js section.featured-products .products, section.featured-products .products.owl-loaded, .no-js
  .bounties.u-hot .products,
  .bounties.u-hot .products.owl-loaded, .no-js
  .owl-carousel,
  .owl-carousel.owl-loaded {
    display: block; }
  section.featured-products .products .owl-dot,
  section.featured-products .products .owl-nav .owl-next,
  section.featured-products .products .owl-nav .owl-prev,
  .bounties.u-hot .products .owl-dot,
  .bounties.u-hot .products .owl-nav .owl-next,
  .bounties.u-hot .products .owl-nav .owl-prev,
  .owl-carousel .owl-dot,
  .owl-carousel .owl-nav .owl-next,
  .owl-carousel .owl-nav .owl-prev {
    cursor: pointer;
    cursor: hand;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  section.featured-products .products.owl-loading,
  .bounties.u-hot .products.owl-loading,
  .owl-carousel.owl-loading {
    opacity: 0;
    display: block; }
  section.featured-products .products.owl-hidden,
  .bounties.u-hot .products.owl-hidden,
  .owl-carousel.owl-hidden {
    opacity: 0; }
  section.featured-products .products.owl-refresh .owl-item,
  .bounties.u-hot .products.owl-refresh .owl-item,
  .owl-carousel.owl-refresh .owl-item {
    visibility: hidden; }
  section.featured-products .products.owl-drag .owl-item,
  .bounties.u-hot .products.owl-drag .owl-item,
  .owl-carousel.owl-drag .owl-item {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  section.featured-products .products.owl-grab,
  .bounties.u-hot .products.owl-grab,
  .owl-carousel.owl-grab {
    cursor: move;
    cursor: -webkit-grab;
    cursor: grab; }
  section.featured-products .products.owl-rtl,
  .bounties.u-hot .products.owl-rtl,
  .owl-carousel.owl-rtl {
    direction: rtl; }
    section.featured-products .products.owl-rtl .owl-item,
    .bounties.u-hot .products.owl-rtl .owl-item,
    .owl-carousel.owl-rtl .owl-item {
      float: right; }
  section.featured-products .products .animated,
  .bounties.u-hot .products .animated,
  .owl-carousel .animated {
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both; }
  section.featured-products .products .owl-animated-in,
  .bounties.u-hot .products .owl-animated-in,
  .owl-carousel .owl-animated-in {
    z-index: 0; }
  section.featured-products .products .owl-animated-out,
  .bounties.u-hot .products .owl-animated-out,
  .owl-carousel .owl-animated-out {
    z-index: 1; }
  section.featured-products .products .fadeOut,
  .bounties.u-hot .products .fadeOut,
  .owl-carousel .fadeOut {
    -webkit-animation-name: fadeOut;
            animation-name: fadeOut; }
  section.featured-products .products .owl-item .owl-lazy,
  .bounties.u-hot .products .owl-item .owl-lazy,
  .owl-carousel .owl-item .owl-lazy {
    opacity: 0;
    transition: opacity .4s ease; }
  section.featured-products .products .owl-item img.owl-lazy,
  .bounties.u-hot .products .owl-item img.owl-lazy,
  .owl-carousel .owl-item img.owl-lazy {
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d; }
  section.featured-products .products .owl-video-wrapper,
  .bounties.u-hot .products .owl-video-wrapper,
  .owl-carousel .owl-video-wrapper {
    position: relative;
    height: 100%;
    background: #000; }
  section.featured-products .products .owl-video-play-icon,
  .bounties.u-hot .products .owl-video-play-icon,
  .owl-carousel .owl-video-play-icon {
    position: absolute;
    height: 80px;
    width: 80px;
    left: 50%;
    top: 50%;
    margin-left: -40px;
    margin-top: -40px;
    background: url(owl.video.play.png) no-repeat;
    cursor: pointer;
    z-index: 1;
    -webkit-backface-visibility: hidden; }
    transition:transform .1s ease
section.featured-products .products .owl-video-play-icon:hover, transition:transform .1s ease
    .bounties.u-hot .products .owl-video-play-icon:hover, transition:transform .1s ease
    .owl-carousel .owl-video-play-icon:hover {
      -webkit-transform: scale(1.3, 1.3);
              transform: scale(1.3, 1.3); }
  section.featured-products .products .owl-video-playing .owl-video-play-icon,
  section.featured-products .products .owl-video-playing .owl-video-tn,
  .bounties.u-hot .products .owl-video-playing .owl-video-play-icon,
  .bounties.u-hot .products .owl-video-playing .owl-video-tn,
  .owl-carousel .owl-video-playing .owl-video-play-icon,
  .owl-carousel .owl-video-playing .owl-video-tn {
    display: none; }
  section.featured-products .products .owl-video-tn,
  .bounties.u-hot .products .owl-video-tn,
  .owl-carousel .owl-video-tn {
    opacity: 0;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    transition: opacity .4s ease; }
  section.featured-products .products .owl-video-frame,
  .bounties.u-hot .products .owl-video-frame,
  .owl-carousel .owl-video-frame {
    position: relative;
    z-index: 1;
    height: 100%;
    width: 100%; }

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

.owl-height {
  transition: height .5s ease-in-out; }

.title {
  line-height: 1.2; }
  a .title {
    color: #111111; }
    a .title:hover {
      color: #111111; }
  .title.is-3 {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold; }
  .title.is-4 {
    font-size: 18px;
    font-weight: bold; }

.medium-posts {
  margin-bottom: 20px;
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
          justify-content: space-between; }
  @media screen and (max-width: 766px) {
    .medium-posts {
      justify-content: space-around; } }
  .medium-posts .title {
    width: 100%;
    text-align: center;
    margin-bottom: 30px; }
    .medium-posts .title:after {
      margin-top: 8px;
      margin-left: calc(50% - 18px);
      content: "";
      display: block;
      width: 36px;
      border-bottom: 2px solid #e84a1e; }

.card-post {
  margin-bottom: 30px;
  padding: 20px 17px 16px;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  min-width: 300px;
  max-width: 360px;
  border: 1px solid #DDDDDD; }
  .card-post .title {
    margin-bottom: 35px; }
  .card-post__image {
    margin-bottom: 16px; }
  .card-post__body {
    margin-bottom: auto; }
  .card-post__text {
    margin-bottom: 25px;
    font-size: 14px; }
  .card-post__button-wrapper {
    display: -webkit-box;
    display: flex; }
    .card-post__button-wrapper .button {
      margin: auto;
      display: inline-block;
      text-transform: uppercase;
      color: #a0a0a0;
      border-color: #a0a0a0; }
      .card-post__button-wrapper .button:hover, .card-post__button-wrapper .button:focus {
        color: #e84a1e;
        border-color: #e84a1e;
        background: none; }

/*# sourceMappingURL=style.css.map */
