$grey-color: #e2e5e7;
$red-color: #e84a1e;

.bottom-line {
  padding-top: 50px;
  padding-bottom: 40px;
  display: flex;
  justify-content: space-between;
}

.footer {
  flex: none;
  background: $grey-color;

  .column {
    display: flex;
    flex: none;
    flex-direction: column;
    align-items: baseline;
  }

  &__logo {
    display: block;
    content: "";
    width: 170px;
    height: 96px;
    background: url("assets/images/footer__logo.png");
  }

  &__page-link {
    margin-bottom: 8px;
    font-size: 18px;
    color: #000;
    &:not(.u-nolink):hover {
      text-decoration: underline;
    }
  }
  &__mail-link {
    color: $red-color;
    text-decoration: underline;
    &:hover, &:focus {
      text-decoration: none;
    }
  }
  &__subscribe-wrapper {
    margin-bottom: 25px;
    &:hover {
      .field__line {
        .input {
          border: 1px solid $red-color;
        }
        .button {
          background-color: $red-color;
        }
      }
    }
  }

  .field__line {
    position: relative;

    .input {
      padding: 0 169px 0 30px;
      height: 38px;
      width: 370px;
      border: 1px solid black;
      border-radius: 19px;
      outline: 1px solid transparent;
      transition: border .2s ease-out;
    }

    .button {
      padding: 10px 35px;
      position: absolute;
      top: 0;
      right: 0;
      height: 38px;
      line-height: 1;
      font-size: 15px;
      font-weight: bold;
      color: #fff;
      background-color: #000;
      text-transform: uppercase;
      border: 0;
      border-radius: 19px;
      outline: 1px solid transparent;
      cursor: pointer;
      transition: background .2s ease-out;
    }
  }

  .social-buttons,
  .fa-socials {
    margin-left: auto;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    &__logo {
      margin: auto;
    }
    &__page-link:first-child {
      margin-top: 20px;
    }
    &__subscribe-wrapper {
      margin-left: auto;
      margin-right: auto;
    }
  }
  .bottom-line {
    flex-direction: column;

    .column:nth-child(2) {
      flex-direction: row;
      justify-content: space-around;
    }
    .column:nth-child(3) {
      margin: auto;
      .footer__page-link {
        margin-left: auto;
        margin-right: auto;
      }
    }

    .social-buttons,
    .fa-socials {
      margin: auto;
    }
  }
}

@media screen and (min-width: 780px) and (max-width: 1199px) {
  .bottom-line {
    flex-wrap: wrap;
    justify-content: space-around;
  }
}