body {
  min-width: 320px;
}

.top-line {
  flex: none;
  height: 60px;
  background: #e1e5e8;
  &__logo-wrapper {
    margin-top: 12px;
    margin-right: 18px;
    display: inline-block;
  }
  .container {
    display: flex;
    align-items: center;
  }
}

.main-navigation {
  margin-top: 12px;
  margin-right: auto;
  display: inline-block;
  vertical-align: top;
  line-height: 34px;
}

.menu-item {
  display: inline-block;
  font-size: 16px;

  a {
    padding: 5px 20px;
    color: #000000;
    &:hover, &:focus {
      color: black;
      text-decoration: underline;
    }
  }
}

.hero {
  margin-bottom: 50px;
  border-bottom: 3px solid #e8e8e8;
  .entry-header {
    display: none;
  }
  .page {
    padding-top: 32px;
    padding-bottom: 90px;
  }

  &__title {
    margin-bottom: 12px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 58px;
    line-height: 1.2;
    .is-red {
      color: $red-color;
    }
  }

  &__subtitle {
    margin-bottom: 30px;
    line-height: 1.3;
    font-size: 22px;
    max-width: 510px;
  }

  .row {
    display: flex;
    .column:nth-child(2) {
      margin-left: auto;
      width: 296px;
      flex: 0 0 auto
    }
  }

  &__add-ico {
    padding: 18px 10px 15px;
    font-size: 21px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
  }

  .es_textbox_class {
    padding: 0 169px 0 38px;
    height: 56px;
    width: 100%;
    font-size: 22px;
    border: 2px solid $red-color;
    border-radius: 28px;
  }

  .es_textbox_button {
    width: 210px;
    height: 56px;
    font-size: 22px;
    border-radius: 28px;
    border-color: $red-color;
    background-color: $red-color;
  }

  .mc4wp-form-fields,
  .es_shortcode_form {
    max-width: 570px;
    &:hover {
      .es_textbox_button {
        background-color: transparent;
        color: $red-color;
        border: 2px solid $red-color;
      }
    }
  }

}

.mc4wp-form-fields,
.es_shortcode_form {
  position: relative;
  &:hover {
    .es_textbox_class {
      border: 2px solid $red-color;
    }
    .es_textbox_button {
      background-color: $red-color;
    }
  }
}

.es_lablebox,
.es_msg {
  display: none;
}

.es_textbox {
  padding: 0;
}

.es_textbox_class {
  padding: 0 169px 0 30px;
  height: 38px;
  width: 370px;
  border: 2px solid black;
  border-radius: 19px;
  outline: 1px solid transparent;
  transition: border .2s ease-out;
}

.es_button {
  padding: 0;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 19px;
  overflow: hidden;
}

.es_textbox_button {
  height: 38px;
  line-height: 1;
  font-size: 15px;
  font-weight: bold;
  color: #fff;
  background-color: #000;
  text-transform: uppercase;
  border: 0;
  border-radius: 19px;
  outline: 1px solid transparent;
  cursor: pointer;
  transition: background .2s ease-out;
}

@media screen and (max-width: 479px) {
  .top-line {
    height: auto;
    .container {
      flex-direction: column;
    }
    .main-navigation {
      margin: auto;
      width: 320px;
      .menu {
        display: flex;
        justify-content: space-around;
      }
    }
    .menu-item a {
      padding: 0;
    }
    .social-buttons,
    .fa-socials {
      padding: 10px 0;
    }
  }

  .hero {
    .page {
      padding-bottom: 50px;
    }
    .row {
      flex-direction: column;

      .column:nth-child(2) {
        margin-right: auto;
      }
    }
    .column {
      margin: auto 10px;
    }
    &__title {
      font-size: 22px;
      text-align: center;
    }
    &__subtitle {
      font-size: 18px;
    }
    &__logo-wrapper {
      display: none;
    }

    .mc4wp-form-fields,
    .es_shortcode_form {
      margin-bottom: 50px;
      height: 40px;
    }
    .es_textbox {
      height: inherit;
      &_class {
        padding: 0 50px 0 10px;
        width: 100%;
        height: inherit;
        font-size: 16px;
      }
      &_button {
        width: 120px;
        height: inherit;
        font-size: 16px;
      }
    }
    .es_button {
      height: inherit;
    }
  }

  //subscribe form
  .mc4wp-form-fields,
  .es_shortcode_form {
    margin: auto 20px;
    width: calc(100% - 40px);
  }
  .es_textbox_class {
    padding: 0 169px 0 30px;
    height: 38px;
    width: 100%;
    border: 2px solid black;
    border-radius: 19px;
    outline: 1px solid transparent;
    transition: border .2s ease-out;
  }
}

@media screen and (min-width: 479px) and (max-width: 767px) {
  .top-line {
    height: auto;
    .container {
      margin: auto 30px;
      flex-wrap: wrap;
    }
    .main-navigation {
      width: 300px;
      .menu {
        display: flex;
        justify-content: space-around;
      }
    }
    .menu-item a {
      padding: 0;
    }
    .social-buttons,
    .fa-socials {
      padding: 10px 0;
    }
  }

  .hero {
    .page {
      padding-bottom: 50px;
    }
    .row {
      flex-direction: column;

      .column:nth-child(2) {
        margin-right: auto;
      }
    }
    .column {
      margin: auto 10px;
    }
    &__title {
      margin-left: auto;
      margin-right: auto;
      max-width: 480px;
      font-size: 38px;
      text-align: center;
    }
    &__subtitle {
      margin-left: auto;
      margin-right: auto;
    }
    &__logo-wrapper {
      display: none;
    }

    .mc4wp-form-fields,
    .es_shortcode_form {
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 50px;
      height: 56px;
    }
    .es_textbox {
      height: inherit;
      &_class {
        height: inherit;
      }
      &_button {
        height: inherit;
      }
    }
    .es_button {
      height: inherit;
    }
  }
}

@media screen and (min-width: 780px) and (max-width: 1199px) {
  .top-line,
  .hero,
  .featured-products,
  .recent-products,
  .footer {
    .container {
      margin: auto 15px;
    }
  }

  .hero {
    .row {
      .column {
        &:nth-child(2) {
          width: 240px;
        }
      }
    }

    &__title {
      font-size: 38px;
      max-width: 500px;
    }
    &__subtitle {
      font-size: 20px;
      max-width: 440px;
    }
  }
}