$red-color: #e84a1e;

/**
 * Typography
 */

body {
  -ms-word-wrap: break-word;
  word-wrap: break-word;
}

body,
button,
input,
textarea {
  color: $color_body;
  font-family: $base-font;
  line-height: 1.618;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
}

.section {
  padding: 0 20px;
}

.container {
  margin: 0 auto;
  max-width: 1170px;
}

/**
 */
.btn,
.button {
  padding: 10px 28px 10px;
  display: block;
  font-size: 15px;
  color: $red-color;
  background: #fff;
  border: 2px solid $red-color;
  border-radius: 30px;
  cursor: pointer;
  line-height: 1;
  transition:
          background .2s ease-out,
          color 0.2s ease-out;

  &:hover, &:focus {
    color: #fff;
    background: $red-color;
    outline: $red-color;
  }

  &.u-right {
    margin-left: auto;
  }
}

.storefront-hero__button-edit {
  position: absolute;
  padding: 3px 5px;
  border-radius: 0;
  border-left: 0;
}

.entry-title {
  padding-bottom: 35px;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: bold;
}

.entry-content {
  h1 {
    padding-bottom: 35px;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: bold;
  }
  h2 {
    padding-bottom: 26px;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: normal;
  }
  h3 {
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
  }
  p {
    padding-bottom: 22px;
    font-size: 15px;
    font-weight: normal;
  }
}

.site-main {
  .page {
    margin-top: 50px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.page-template-default {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  .content-area {
    flex-grow: 1;
  }
}