$red-color: #e84a1e;
$black-color: #111111;

.page-bounties {
  .container {
    padding: 0 10px;
  }
}

.bounties {
  padding: 0 10px;
  &.u-hot {
    .bounty {
      &__link {
        padding: 0;
      }
      &__image-wrapper {
        height: 190px;
        overflow: hidden;
        background: url("./assets/images/hot.png") no-repeat;
      }
      &__image {
        transform: translateY(-55px);
      }
    }
  }

  &__body {
    margin-left: auto;
    margin-right: auto;

    @media screen and (max-width: 569px) {
      max-width: 304px;
    }

    @media screen and (min-width: 570px) and (max-width: 899px) {
      max-width: 618px;
    }

    @media screen and (min-width: 900px) and (max-width: 1199px) {
      max-width: 932px;
    }

    .products {
      margin-bottom: 30px;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
    }
    .product {
      display: inline-block;
      margin-left: initial;
      margin-right: initial;
      flex: 0 0 auto;
      border: 2px solid $red-color;

      transition: border .13s ease-out;

      &:hover {
        border: 2px solid $black-color;
      }

    }
  }
}

.bounty {
  &__header-wrapper {
    margin-top: 50px;
    margin-bottom: 60px;
    max-width: 950px;
  }
  &__hot-sticker {
    position: absolute;
    top: 0;
    left: 0;
    width: 120px !important;
    height: 118px !important;
    z-index: 9;
  }
  &__link {
    display: block;
    padding-top: 10px;
    color: #111111;
  }

  &__title {
    display: block;
    text-transform: uppercase;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
  }

  &__short-description {
    display: block;
    padding: 0 5px 14px;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
  }
}

@mixin product-not-hot($bounty-padding, $bounty-row-items) {
  margin-bottom: $bounty-padding;
  width: calc((100% - #{$bounty-padding * ($bounty-row-items - 1)}) / #{$bounty-row-items});
  &:not(:nth-child(#{$bounty-row-items}n + #{$bounty-row-items})) {
    margin-right: $bounty-padding;
  }
}

.bounties:not(.u-hot) {
  .product {
    @media screen and (max-width: 569px) {
      @include product-not-hot(15px, 2);
    }
    @media screen and (min-width: 570px) and (max-width: 899px) {
      @include product-not-hot(15px, 3);
    }
    @media screen and (min-width: 900px) and (max-width: 1199px) {
      @include product-not-hot(20px, 4);
    }
    @media screen and (min-width: 1200px) {
      @include product-not-hot(20px, 5);
    }
  }
}



