$color-red: #e84a1e;

.title {
  line-height: 1.2;

  a & {
    color: #111111;

    &:hover {
      color: #111111;
    }
  }

  &.is-3 {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
  }

  &.is-4 {
    font-size: 18px;
    font-weight: bold;
  }
}

.medium-posts {
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media screen and (max-width: 766px){
    justify-content: space-around;
  }

  .title {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;

    &:after {
      margin-top: 8px;
      margin-left: calc(50% - 18px);
      content: "";
      display: block;
      width: 36px;
      border-bottom: 2px solid $color-red;
    }
  }
}
.card-post {
  margin-bottom: 30px;
  padding: 20px 17px 16px;
  display: flex;
  flex-direction: column;
  min-width: 300px;
  max-width: 360px;
  border: 1px solid #DDDDDD;

  .title {
    margin-bottom: 35px;
  }

  &__image {
    margin-bottom: 16px;
  }

  &__body {
    margin-bottom: auto;
  }

  &__text {
    margin-bottom: 25px;
    font-size: 14px;
  }

  &__button-wrapper {
    display: flex;
    .button {
      margin: auto;
      display: inline-block;
      text-transform: uppercase;
      color: #a0a0a0;
      border-color: #a0a0a0;

      &:hover,
      &:focus {
        color: $color-red;
        border-color: $color-red;
        background: none;
      }
    }
  }

  //&:not(:last-child) {
  //  margin-right: 45px;
  //}

}