$color-red: #e84a1e;

.owl-carousel {
  margin-bottom: 30px;
}

.owl-dots {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.owl-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #fff;
  border: 1px solid $color-red;
  &.active {
    background-color: $color-red;
  }
  &:not(:last-child) {
    margin-right: 10px;
  }
}