$color-gray: #e2e5e7;
$color-red: #e84a1e;

.field {
  width: 100%;
  display: flex;
  .is-red {
    color: $color-red;
  }
}

.add-ico {
  &__form {
    .field {
      label {
        width: 100%;
        p {
          padding: 0;
        }
      }
    }
    .input,
    .textarea {
      padding: 4px 8px;
      font-size: 15px;
      background-color: #fff;
      border: 1px solid #ccc;
    }
    .file-input {
      margin-bottom: 20px;
    }
  }
  &__text {
    margin-bottom: 25px;
  }
}

.input,
.textarea {
  margin-bottom: 25px;
  padding: 12px 40px;
  width: 100%;
  font-size: 16px;
  background-color: $color-gray;
  border: $color-gray;
  outline-color: $color-red;
}

.textarea {
  resize: none;
}

@media screen and (max-width: 767px) {
  .field {
    flex-wrap: wrap;
    .control {
      width: 100%;
    }
  }
}

@media screen and (min-width: 768px) {
  .field {
    .control {
      flex: 1 1 auto;
      &:not(:last-child) {
        margin-right: 30px;
      }
    }
  }
}