$color-red: #e84a1e;

.page-template-template-icolist {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.onsale {
  display: none;
}
.ico-list {
  padding-left: 15px;
  padding-right: 15px;
  min-width: 730px;
  flex: 1 1 auto;

  #products-all,
  #products-featured,
  #products-ongoing,
  #products-comingsoon {
    display: none;

    &.active {
      margin-bottom: 50px;
      display: block;
    }
  }

  .featured-products__top-line,
  .hero {
    display: none;
  }

  &__buttons {
    margin-top: 55px;
    display: flex;
    .btn {
      min-width: 130px;
      text-transform: uppercase;
      text-align: center;
      font-size: 15px;
      font-weight: bold;
      color: #a4a4a4;
      border-color: #a4a4a4;

      &:not(:last-child) {
        margin-right: 25px;
      }

      &:hover,
      &.active {
        border-color: $color-red;
        background-color: $color-red;
        color: #fff;
      }
    }
  }

  .product {
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 100%;
    display: flex;
    border: 1px solid #e2e5e7;
    border-top: none;

    &.u-header {
      margin-top: 20px !important;
      min-width: 700px;
      background: #e2e5e7;
      font-weight: bold;

      .woocommerce-loop-product__title,
      .product__description-text,
      .product__date-start,
      .product__date-end {
        margin: 13px 0 15px;
        padding: 0;
        font-weight: bold;
        line-height: 1;
      }

      .product__description-text,
      .product__date-start,
      .product__date-end {
        margin-right: 40px;
      }

      .product__image-wrapper {
        height: auto;
      }
    }
    
    &:hover {
      border-color: #e2e5e7;
    }

    .social-buttons,
    &__read-more,
    &__token-price,
    &__date-start span,
    &__date-end span {
      display: none;
    }

    &__information {
      display: flex;
      flex: 1 1 auto;
      min-width: 450px;
    }

    &__information-row {
      flex: 0 0 auto;
    }

    &__column.u-left-column {
      display: flex;
    }

    &__image-wrapper {
      margin: 9px 38px;
      width: 70px;
      height: 70px;
      flex: 0 0 auto;

      img {
        position: static;
        top: 0;
        width: 100%;
        height: 100%;
      }
    }

    &__description-text {
      margin-top: 18px;
      margin-bottom: 18px;
      width: 400px;
      flex: 1 1 auto;
    }

    &__date-start,
    &__date-end {
      margin-top: 18px;
      margin-bottom: 18px;
      margin-right: 40px;
      width: 110px;
    }

    .woocommerce-LoopProduct-link {
      display: flex;
      flex: 0 0 auto;
      width: 350px;
    }

    .woocommerce-loop-product__title {
      margin-top: 18px;
      margin-bottom: 18px;
      padding: 0;
      text-align: center;
      font-weight: normal;
      font-size: 15px;
      color: #111;
      line-height: 1;
      text-transform: none;
      background-color: transparent;
      border-bottom: 0;
    }

    &:last-child {
      margin: 0;
    }
  }

  .products {
    min-width: 700px;
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 899px) {
  .ico-list {
    &__buttons {

      flex-wrap: wrap;

      .btn {
        padding: 8px 12px;
        min-width: 10px;
        font-size: 13px;
        font-weight: normal;

        &:not(:last-child) {
          margin-right: 5px;
        }

      }
    }
    .product {
      font-size: 13px;
      &__image-wrapper {
        margin: 4px 10px 4px 4px;
      }
      .woocommerce-LoopProduct-link {
        width: 250px;
      }
      .product__description-text,
      .product__date-start,
      .product__date-end {
        margin-right: 10px;
      }
    }
  }
}