.single-product {
  .product__read-more {
    display: none;
  }
  .featured-products__title {
    margin-bottom: 28px;
    text-transform: none;

    &.is-big {
      margin-bottom: 14px;
      font-size: 22px;

      &:after {
        margin-top: 17px;
        width: 200px;
      }
    }
  }
  .product {
    margin-top: 14px;
  }
  &__image-wrapper {
    margin: auto;
    height: 156px;
    width: 307px;
    overflow: hidden;
    img {
      margin-left: auto;
      margin-right: auto;
      position: relative;
      top: -50%;
    }
    &.u-main-img {
      width: 100%;
      height: 300px;
    }
  }
  &__media-wrapper {
    margin: 0 auto 45px;
    max-width: 600px;
    iframe {
      width: calc(100vw - 40px);
      max-width: 600px;
      height: calc((100vw - 40px) / 16 * 9);
      max-height: 337.5px;
    }
  }
  &__details-grid {
    display: flex;
    margin-bottom: 118px;
    flex-wrap: wrap;

    border: 1px solid #aaaaaa;
    border-bottom: 0;

    .is-row {
      padding-left: 12px;
      width: 50%;
      line-height: 28px;
      border-bottom: 1px solid #aaaaaa;
    }
  }
  &__description {
    line-height: 1;
    p {
      margin-bottom: 22px;
    }
  }
  .content-area {
    .social-buttons {
      margin-bottom: 30px;
    }
  }
  &__buttons-row {
    margin-top: 40px;
    margin-bottom: 118px;
    min-width: 320px;
    display: flex;
    .btn:not(:last-child) {
      margin-right: 17px;
    }
  }
}

.woocommerce-product-details {
  &__short-description {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 768px) {
  .single-product {
    &__image-wrapper {
      max-width: 100%;
      &.u-main-img {
        display: none;
      }
    }
  }
}

@media screen and (min-width: 769px) and (max-width: 1200px) {
  .single-product {
    &__image-wrapper {
      &.u-main-img {
        display: block;
        max-width: 400px;
        height: 200px;
      }
    }
  }
}