$red-color: #e84a1e;

.social-buttons {
  display: inline-block;
  cursor: default;
  font-size: 0;
  .top-line & {
    margin-top: 8px;
  }
}

.social-button {
  display: inline-block;
  width: 32px;
  height: 32px;
  background-image: url("assets/images/socials.png");
  background-repeat: no-repeat;
  cursor: pointer;
  &:not(:last-child) {
    margin-right: 8px;
    .top-line &,
    .footer & {
      margin-right: 16px;
    }
  }

  &.is-disabled {
    cursor: default;
  }

  &.u-bitcoin {
    background-position: 0 0;
    &:hover { background-position-y: -32px; }
    &.is-disabled { background-position-y: -64px; }
  }
  &.u-reddit {
    background-position: -32px 0;
    &:hover { background-position-y: -32px; }
    &.is-disabled { background-position-y: -64px; }
  }
  &.u-github {
    background-position: -64px 0;
    &:hover { background-position-y: -32px; }
    &.is-disabled { background-position-y: -64px; }
  }
  &.u-facebook {
    background-position: -96px 0;
    &:hover { background-position-y: -32px; }
    &.is-disabled { background-position-y: -64px; }
  }
  &.u-twitter {
    background-position: -128px 0;
    &:hover { background-position-y: -32px; }
    &.is-disabled { background-position-y: -64px; }
  }
  &.u-telegram {
    background-position: -160px 0;
    &:hover { background-position-y: -32px; }
    &.is-disabled { background-position-y: -64px; }
  }
  &.u-www {
    background-position: -192px 0;
    &:hover { background-position-y: -32px; }
    &.is-disabled { background-position-y: -64px; }
  }
}

.fa-socials {
  display: inline-block;
  cursor: default;
  font-size: 30px;
  .top-line & {
    margin-top: 8px;
  }
}

.fa-social-button {
  display: inline-block;
  color: #111;
  transition: color .2s ease-out;
  &:not(:last-child) {
    margin-right: 8px;
    .top-line &,
    .footer & {
      margin-right: 16px;
    }
  }
  &:hover {
    color: $red-color;
  }
}

.field {
  &__social-icon {
    margin-right: 10px;
    width: 32px;
    height: 32px;
    background-image: url("assets/images/socials.png");
    background-repeat: no-repeat;

    transform: translateY(26px);

    &.u-bitcoin {
      background-position: 0 0;
    }
    &.u-reddit {
      background-position: -32px 0;
    }
    &.u-github {
      background-position: -64px 0;
    }
    &.u-facebook {
      background-position: -96px 0;
    }
    &.u-twitter {
      background-position: -128px 0;
    }
    &.u-telegram {
      background-position: -160px 0;
    }
    &.u-www {
      background-position: -192px 0;
    }
    &.u-none {
      background: none;
    }

    &~ div {
      width: calc(100% - 42px);
    }
  }
}